@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	color: var(--text-color);
	font-size: var(--main-size);
}

.capitalize {
	text-transform: capitalize;
}

.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.table__head {
	display: flex;
	padding-left: 15px;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 5px;
}

.wrapper {
	display: flex;
}

.table__body {
	display: grid;
	grid-template-rows: repeat(7, 15px);
	grid-template-columns: 18px repeat(51, 15px);
	grid-auto-flow: column;
	grid-gap: 2px;
}

.day {
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.table__body .day:hover {
	border: 1px solid var(--hover-border-color);
}

.table__body .day.selected {
	border: 1px solid var(--select-border-color);
}

.level-1 {
	background-color: var(--level-1-color);
}
.level-2 {
	background-color: var(--level-2-color);
}
.level-3 {
	background-color: var(--level-3-color);
}
.level-4 {
	background-color: var(--level-4-color);
}
.level-5 {
	background-color: var(--level-5-color);
}

.levels {
	margin-top: 15px;
	margin-left: 20px;
	display: flex;
	align-items: center;
	column-gap: 6px;
}

.levels .text {
	font-size: var(--levels-text-size);
}

.levels .days {
	display: flex;
	align-items: center;
	column-gap: 2px;
}

.rc-tooltip-arrow {
	bottom: -4px !important;
	border-top-color: var(--tooltip-background) !important;
}

.rc-tooltip {
	opacity: 1 !important;
}
.rc-tooltip-inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 5px 10px !important;
	border-radius: 3px !important;
	background-color: var(--tooltip-background) !important;
	transform: translateY(8px);
	min-height: 32px !important;
}

.tooltip-text {
	color: var(--tooltip-text);
}

.tooltip-helper-text {
	color: var(--tooltip-helper-text);
	text-transform: capitalize;
}
