:root {
	--level-1-color: #ededed;
	--level-2-color: #acd5f2;
	--level-3-color: #7fa8c9;
	--level-4-color: #527ba0;
	--level-5-color: #254e77;
	--text-color: #959494;
	--tooltip-background: #000000;
	--tooltip-text: #ffffff;
	--tooltip-helper-text: #7c7c7c;
	--hover-border-color: rgba(0, 0, 0, 0.5);
	--select-border-color: rgba(0, 0, 0, 0.9);

	--main-size: 12px;
	--helper-text-size: 10px;
	--levels-text-size: 8px;
}
